<!DOCTYPE html>
<html>
<body>

<div class="container">
			<%= image_tag @brother.image %>
			<h3><%= @brother.first_name + " " + @brother.last_name %></h3>
			<h6>"<%= @brother.initials %>"</h6>
			<h6><%= @brother.pledge_class %></h6>
			<h4>Contact Information</h4>
			<h6><%= @brother.phone_number %></h6>
			<h6><%= @brother.email %></h6>
			
		</div>
</div>

</body>
</html>
